@keyframes heading-float {
  from {top:0; opacity:0.5}
  to {top:100px; opacity: 1;}
}

.heading {
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: $blue_main;

  display: flex;
  
  width:100%;

  justify-content: center;

  transform: translateY(-100px);
  animation: heading-float;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

  &__navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    &--link {
      display: flex;
      align-items: center;

      color: $white;
      text-transform: uppercase;
      text-decoration: none;

      margin-right: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.github {
  &::after {
    display: inline-block;
    content: '';
    margin-left: 8px;
    background-image: url('../../github-142-svgrepo-com.svg');
    filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(357deg) brightness(104%) contrast(103%);
    background-size: 16px;
    width: 16px;
    height: 16px;
  }
}

.linkedin {
  &::after {
    display: inline-block;
    content: '';
    margin-left: 8px;
    background-image: url('../../linkedin-round-svgrepo-com.svg');
    filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(357deg) brightness(104%) contrast(103%);
    background-size: 16px;
    width: 16px;
    height: 16px;
  }
}